# IGNORE scripts
test.py
batch_process_wsi.sh
run.txt
QP_Extensions/scripts/Pos_cellD_Basic_QuPath_project.groovy

# IGNORE FOLDERS
Juan_codes/
analysis/
data_files/
data_utilities/
Exclusion_Examples/

# IGNORE FILES
CBTN_KI67.csv
test.csv

# INGORE DEEPLIIF
DeepLIIF

